<i>JAI SHREE RAM JI</i>

<div id="personal">
  <div class="row" id="personal-info">
      <div class="col-sm-3">
          <div id="customer-profile-pic">
            <img src="{{personlData.profile_image}}" class="rounded-circle" alt="Cinque Terre" width="70" height="70">
          </div>
      </div>
      <div class="col-sm-6">
        <div id="customer-name">
          {{personlData.name}} 
        </div> 
      </div>
      <div class="col-sm-3">
        <div id="customer-tabs">
          <p></p>
        </div> 
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu">
              <h5 class="dropdown-header">Dropdown header</h5>
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
              <div class="dropdown-divider"></div>
              <h5 class="dropdown-header">Dropdown header</h5>
              <a class="dropdown-item" href="#">Another link</a>
            </div>
          </div>
      </div>
  </div>
  <div id="chating-list">
    <div *ngFor = " let data of personlData.chat_list " >
      <div class="chating-with" >
        
        <ng-container
          *ngIf="data.is_group; then group; else member">
        </ng-container>

        <ng-template #member>
          <div class="row" (click) = "setMemberChatData(personlData.id, data.chat_id, data.chat_with_data.customer_id)">
            <div class="col-sm-2">
                <div class="chat-with-image">
                  <img src="{{data.chat_with_data.image}}" class="rounded-circle" width="50" height="50"> 
                </div>
            </div>
            <div class="col-sm-7">
              <div class="chat-with-name"> 
                {{data.chat_with_data.name}}
              </div> 
              <div class="last-chat-message">
                {{data.last_message.message_body}}
              </div>
            </div>
            <div class="col-sm-3">
              <div class="chat-with-day">
                <p>{{data.last_message.message_time}}</p>
              </div> 
            </div>
          </div>  
        </ng-template>

        <ng-template #group>
          <div class="row" (click) = "setGroupChatData(personlData.id, data.chat_id, data.chat_with_data.group_id)">
            <div class="col-sm-2">
                <div class="chat-with-image">
                  <img src="{{data.chat_with_data.image}}" class="rounded-circle" width="50" height="50"> 
                </div>
            </div>
            <div class="col-sm-7">
              <div class="chat-with-name">
                <b>{{data.chat_with_data.name}}</b>
              </div> 
              <div class="last-chat-message">
                {{data.last_message.message_body}}
              </div> 
            </div>
            <div class="col-sm-3">
              <div class="chat-with-day">
                <p>{{data.last_message.message_time}}</p>
              </div> 
            </div>
        </div>
      </ng-template>

     


      </div>
    </div> 
  </div>
</div>
