#chat-view {
    background-color: white;
    padding-top: 10px;
}

#chat-info {
    height: 30%;
    min-height: 80px;
    /* border-bottom: 1px solid gray; */
}
#chat-with-name {
    line-height: 50px;
    /* text-align: center; */
}
#group-info {
    line-height: 50px;
    color: gray;
}
#chat-details {
    height: 70%;
}
.message-received {
    background-color: #bed9e6;
    padding: 10px;
    border-radius: 7px;
    text-align: left;
    margin-top: 10px;
    display: inline-block;
}
.message-send {
    background-color:#e4e1cf;
    padding: 10px;
    border-radius: 7px;
    text-align: right;
    margin-top: 10px;
    float: right;
}
#group-edit-description {
    border-bottom: 1px solid #ece7e7;
    text-align: center;
    color: black;
}
#edit-icon {
    font-size: 24px;
    color: darkgrey;
}
#count-participant{
    color: currentColor;
    /* cursor: not-allowed; */
    opacity: 8.5;
    text-decoration: none;
}
.participant-info {
    margin-top: 10px;
}
.button-admin {
    border: 1px solid;
    background-color: white;
    color: #2db52d;
}
.edit-member-info:hover {
    color: black;
}